.titleSuccessFirst{
    font-family: Effra_Trial_Bold, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 76px;
    color: #16145F;
    margin-top: 100px;
    margin-bottom: 24px;
}


.textSuccess{
    max-width: 703px;
    width: 100%;
    font-family: Effra_Trial_Regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #24205B;
    margin-bottom: 100px;
}