.footerWhole{
    position: relative;
    padding-top: 60px;
    padding-bottom: 24px;
    background: #16145F;
    /*position: sticky;*/
    /*bottom: 0;*/
    /*z-index: 1000;*/
}

.footer{
    display: flex;
    flex-direction: column;
}

.footerUp{
    display: flex;
    justify-content: space-between;
}

.footer1{
    display: flex;
    flex-direction: column;

}

.footerLogo{
    margin-bottom: 8px;
    width: 200px;
    height: 47px;
}

.footerIcons{
    display: flex;
    margin-top: 8px;
    margin-bottom: 60px;
 }

.footer2{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.footerTitle{
    font-family: Effra_Trial_Medium, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    margin-bottom: 16px;
    cursor: pointer;
}

.footerContactsDiv{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.footerContact{
    margin-left: 4px;
    font-family: Effra_Trial_Regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.footerInfo{
    margin-bottom: 8px;
    font-family: Effra_Trial_Regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    cursor: pointer;
}

.footerImg{
    margin-top: 30px;
    /*position: relative;*/
}

.yellowVint{
    position: absolute;
    top:20%;
    right: 4%;
    width: 115px;
    height: 115px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 14s linear infinite;
    -moz-animation:spin 14s linear infinite;
    animation:spin 14s linear infinite;
    /*animation-direction: reverse;*/
}
@-moz-keyframes spin {
    100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}


.greenVint{
    position: absolute;
    top:43%;
    right: 11%;
    width: 80px;
    height: 80px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 14s linear infinite;
    -moz-animation:spin 14s linear infinite;
    animation:spin 14s linear infinite;
    animation-direction: reverse;
}

.orangeVint{
    position: absolute;
    top:53%;
    right: 2%;
    width:140px;
    height: 140px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 14s linear infinite;
    -moz-animation:spin 14s linear infinite;
    animation:spin 14s linear infinite;
}

.footerIcon{
    margin-right: 8px;
}

.footerIcon:last-child{
    margin-right: 0;
}

.footerBelowPart{
    padding-top: 24px;
    border-top: 1px solid #F9F9F9;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerBelowText{
    font-family: Effra_Trial_Regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.footerBelowText:first-child{
    padding-right: 8px;
    border-right:1px solid #F9F9F9;
    margin-right: 8px;
}

.footerBelowLeft{
    display: flex;
    align-items: center;
}


