.control{
    margin-bottom: 16px;
}

.control input,
.control label {
    display: block;
}

.inputDiv{
    position: relative;
}

.control input,
.select {
    padding: 6px 24px;
    font-family:  TT_Commons-Medium, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    background: #FFFFFF;
    border-radius: 8px;
    max-width: 550px;
    width: 100%;
    border: none;
}

.control input:focus{
    border: 1px solid rgba(121, 63, 249, 1);
    outline: none;
    color: #000000;
}

.control input::placeholder{
    color: #7A7A7A;
}

.invalid{
    border: 2px solid rgba(249, 63, 63, 1) !important;
}

.textDanger{
    font-family:  TT_Commons-Regular, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: rgba(249, 63, 63, 1);
    margin-top: 4px;
    max-width: 550px;
    width: 100%;
}

.inputDiv img{
    width: 25px;
    position: absolute;
    bottom: 11px;
    right: 35px;
    cursor:pointer;
}
