.backgroundAdvantage{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-bottom: 100px;
    height:1103px;
}

.tykansAdvantage{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.advantage{
    margin-top: 100px;
    font-family: Effra_Trial_Regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 86px;
    color: #EAB531;
    padding-bottom: 8px;
    border-bottom: 3px solid #FFFFFF;
    margin-bottom: 100px;
}

.vectorAndTitle{
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.title{
    font-family: Effra_Trial_Regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
    margin-left: 20px;
}

.rightPart{
    max-width: 654px;
    width: 100%;
    height: 654px;
}

.rightPartImg{
    border-radius: 100%;
    height: 100%;
    object-fit: cover;
}

