.galleryTitle{
    font-family: Effra_Trial_Medium, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 76px;
    color: #B96118;
    padding-bottom: 16px;
    border-bottom:3px solid #16145F;
    margin-bottom: 80px;
    padding-top: 120px;
    display: flex;
    justify-self: flex-start;
    max-width: 385px;
}
.photos{
    display: flex;
    justify-content: space-between;
    margin-bottom: 140px;
}

.galleryFirstPart{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-right: 20px;
}

.galleryFirstDownPart{
    display: flex;
    align-items: center;
}

.photo1div{
    max-width: 1024px;
    width: 100%;
    height:100%
}

.photo1{
    border-radius: 80px;
}

.photo2div{
    max-width:502px;
    width: 100%;
    height:100%
}

.photo2{
    border-radius: 80px;
}

.photo3div{
    max-width:502px;
    width: 100%;
    height:100%
}
.photo3{
    border-radius: 80px;
}

.gallerySecondPart{
    display: flex;
    flex-direction: column;
}

.photo4div{
    max-width:676px;
    width: 100%;
    height:100%
}

.photo4{
    border-radius: 80px;
}

.photo5div{
    max-width:676px;
    width: 100%;
    height:100%
}

.photo5{
    border-radius: 80px;
}

.dots{
    font-size: 60px;
    color: black
}