* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body{
    background-color: #F5F5F5;
    min-height: 100vh;
}

html{
    scroll-behavior: smooth;
}

.container{
    max-width: 1750px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    z-index: 10;
}

.containerInside{
    display: flex;
    justify-content: space-between;
    margin-bottom: 204px;
}

.subTitle{
    font-family: Effra_Trial_Medium, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    color: #16145F;
    margin-bottom: 32px;
}

.circleBig{
    border-radius: 100%;
    height: 100%;
    object-fit: cover;
}

.spaceNoWrap{
    white-space: nowrap;
}

.textStyle{
    font-family: Effra_Trial_Regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #16145F;
    margin-bottom: 24px;
}

.unselected{
    font-family: Montserrat_Medium, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    margin-right: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #EAB531;
}
.readMore{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: Effra_Trial_Medium, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #16145F;
    cursor: pointer;
}

.buttonsDiv{
    display: flex;
}


.firstBtn{
    margin-right: 24px;
}

.blueBookImg{
    margin-right: 10px;
}

.somePadding{
    padding-left:40px;
    justify-content: flex-start;
}

.leftAlign{
    justify-content: flex-start;
}


.part1BackImg{
    position: relative;
    display: flex;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
}

.part1BackImg::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 0;
}


.titleServices {
    display: flex;
    cursor: pointer;
    width:max-content;
    margin-bottom: 100px;
    font-family: Effra_Trial_Medium, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 76px;
    color: #EAB531;
    padding-bottom: 16px;
    border-bottom: 6px solid #FFFFFF;
    z-index:1
}


.redTitle{
    color: #92374D
}

.blueTitle{
    color: #16145F;
}

.teamMemberOne{
    background: #FFFFFF;
    padding: 100px;
    display: flex;
    flex-direction: column;
}

.teamMemberOne:nth-child(even){
    background: #F0EFFF;
}


.teamMemberOne:nth-child(even) svg path {
    fill:#92374D;
}

.memberInfoMiddlePart{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.teamMemberOne:nth-child(even) .memberInfoMiddlePart{
    flex-direction: row-reverse;
}

.teamMemberOne:nth-child(odd) .memberProfileInfo{
    margin-right: 60px;
}


.teamMemberOne:nth-child(even) .memberInfo{
    margin-right: 60px;
}

.memberProfileInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.memberPhotoDiv{
    width: 250px;
    height: 250px;
    margin-bottom: 8px;
}

.memberPhoto{
    border-radius: 100%;
    height: 100%;
}


.memberName{
    font-family: Effra_Trial_Medium, sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #B96118;
}

.teamMemberOne:nth-child(even) .memberName:nth-child(even){
    color: #92374D;
}

.memberPosition{
    font-family: Effra_Trial_Medium, sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #16145F;
}

.memberInfo{
    font-family: Effra_Trial_Regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    color: #16145F;
    max-width: 1174px;
    width: 100%;
}

.alignRightMember{
    display: flex;
    align-self: flex-end;
}


@font-face {
    font-family: Effra_Trial_Light;
    src: url(app/assets/fonts/Effra/Effra_Trial_Lt.ttf);
}


@font-face {
    font-family: Effra_Trial_Regular;
    src: url(app/assets/fonts/Effra/Effra_Trial_Rg.ttf);
}

@font-face {
    font-family: Effra_Trial_Medium;
    src: url(app/assets/fonts/Effra/Effra_Trial_Md.ttf);
}


@font-face {
    font-family: Effra_Trial_Bold;
    src: url(app/assets/fonts/Effra/Effra_Trial_Bd.ttf);
}

@font-face {
    font-family: Montserrat_Light;
    src: url(app/assets/fonts/Montserrat/Montserrat_Light.ttf);
}

@font-face {
    font-family: Montserrat_Regular;
    src: url(app/assets/fonts/Montserrat/Montserrat_Regular.ttf);
}

@font-face {
    font-family: Montserrat_Medium;
    src: url(app/assets/fonts/Montserrat/Montserrat_Medium.ttf);
}

@font-face {
    font-family: Montserrat_Bold;
    src: url(app/assets/fonts/Montserrat/Montserrat_Bold.ttf);
}


